.apaw-pricing-inner {
    background-color: #fff;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .11)
}

.apaw-pricing-inner .apaw-pricing-recommended {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5dc26), to(#4aa112));
    background-image: -webkit-linear-gradient(top, #a5dc26, #4aa112);
    background-image: -moz-linear-gradient(top, #a5dc26, #4aa112);
    background-image: -ms-linear-gradient(top, #a5dc26, #4aa112);
    background-image: -o-linear-gradient(top, #a5dc26, #4aa112);
    background-image: linear-gradient(top, #a5dc26, #4aa112);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a5dc26', endColorStr='#4aa112');
    padding: 12px 30px;
    font-family: poppins, sans-serif;
    color: #fff;
    -webkit-border-radius: 8px 8px 0 0;
    -khtml-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    line-height: 1
}

.apaw-pricing-inner .apaw-pricing-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px
}

.apaw-pricing-inner .apaw-pricing-holder {
    padding: 23px 26px
}

.apaw-pricing-inner .apaw-pricing-meta {
    padding: 7px 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3140fc), to(#091394));
    background-image: -webkit-linear-gradient(top, #3140fc, #091394);
    background-image: -moz-linear-gradient(top, #3140fc, #091394);
    background-image: -ms-linear-gradient(top, #3140fc, #091394);
    background-image: -o-linear-gradient(top, #3140fc, #091394);
    background-image: linear-gradient(top, #3140fc, #091394);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3140fc', endColorStr='#091394');
    color: #fff;
    text-align: center;
    font-family: poppins, sans-serif
}

.apaw-pricing-inner .apaw-pricing-meta .apaw-pricing-price {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.25
}

.apaw-pricing-inner .apaw-pricing-meta .apaw-pricing-time {
    font-size: 16px;
    color: #fff
}

.apaw-pricing-inner .apaw-pricing-body {
    padding: 16px 20px 27px
}

.apaw-pricing-inner .apaw-pricing-content {
    margin: 0;
    list-style: none;
    font-family: poppins, sans-serif;
    font-size: 14px;
    font-weight: 500
}

.apaw-pricing-inner .apaw-pricing-content li {
    display: block;
    padding: 14px 15px;
    -webkit-transition: all 300ms linear 0ms;
    -khtml-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms
}
/*
.apaw-pricing-inner .apaw-pricing-content li:before {
    content: '\f00c';
    font-family: FontAwesome;
    color: #3140fc;
    margin-right: 8px
} */
.apaw-pricing-inner .apaw-pricing-content li i {
    color: #3140fc;
    margin-right: 8px;
	font-size: 12px;
}
.apaw-pricing-inner .apaw-pricing-content li i.fa-times {
    color: #ff1100 !important;
}

.apaw-pricing-inner .apaw-pricing-content li.active {
    background-color: #f2f2f2
}

.apaw-pricing-inner .apaw-pricing-button a {
    font-size: 14px;
    color: #fff;
    background-color: #000;
    display: block;
    line-height: 48px;
    padding: 0 30px;
    text-align: center;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-top: 14px
}

.apaw-pricing-inner .apaw-pricing-button a:hover {
    background-color: #3140fc
}

.apaw-pricing-wrapper.preset2 .apaw-pricing-inner .apaw-pricing-meta {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1100), to(#a01006));
    background-image: -webkit-linear-gradient(top, #ff1100, #a01006);
    background-image: -moz-linear-gradient(top, #ff1100, #a01006);
    background-image: -ms-linear-gradient(top, #ff1100, #a01006);
    background-image: -o-linear-gradient(top, #ff1100, #a01006);
    background-image: linear-gradient(top, #ff1100, #a01006);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff1100', endColorStr='#ff7a01')
}

.apaw-pricing-wrapper.preset2 .apaw-pricing-inner .apaw-pricing-content li::before {
    color: #4659e2
}

.apaw-pricing-wrapper.preset2 .apaw-pricing-inner .apaw-pricing-button a:hover {
    background-color: #4659e2
}

.apaw-pricing-wrapper.preset2 .apaw-pricing-inner .apaw-pricing-recommended {
    background-color: #ff1100;
    background-image: none
}

.apaw-pricing-wrapper.preset3 .apaw-pricing-inner .apaw-pricing-meta {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44c01), to(#ff7a01));
    background-image: -webkit-linear-gradient(top, #f44c01, #ff7a01);
    background-image: -moz-linear-gradient(top, #f44c01, #ff7a01);
    background-image: -ms-linear-gradient(top, #f44c01, #ff7a01);
    background-image: -o-linear-gradient(top, #f44c01, #ff7a01);
    background-image: linear-gradient(top, #f44c01, #ff7a01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f44c01', endColorStr='#ff7a01')
}

.apaw-pricing-wrapper.preset3 .apaw-pricing-inner .apaw-pricing-content li::before {
    color: #4659e2
}

.apaw-pricing-wrapper.preset3 .apaw-pricing-inner .apaw-pricing-button a:hover {
    background-color: #4659e2
}

.apaw-pricing-wrapper.preset3 .apaw-pricing-inner .apaw-pricing-recommended {
    background-color: #4659e2;
    background-image: none
}
.apaw-pricing-inner .apaw-pricing-button {
    text-align: center;
}
.apaw-pricing-inner .apaw-pricing-button.btnstyle2 a {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    outline: medium none;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.apaw-pricing-inner .apaw-pricing-button.btnstyle3 a {
    display: inline-block;
    font-size: 14px;
    outline: medium none;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 6px 6px 0 #2ecc71;
    transform: skewX( -15deg );
}
.apaw-pricing-inner .apaw-pricing-button.btnstyle3 a:hover {
    box-shadow: 6px 6px 0 #000000;
}

.style2 .apaw-pricing-inner .apaw-pricing-holder {
    padding: 0;
}
.style2 h3.apaw-pricing-title {
    background-color: #000000;
    color: #fff;
    padding: 10px 26px;
	margin: 0;
}
.style2 .apaw-pricing-inner .apaw-pricing-meta {
    padding: 35px 30px;
}

.style2 .apaw-pricing-inner .apaw-pricing-desc {
    padding: 23px 26px;
}
.style2 .apaw-pricing-inner .apaw-pricing-meta {
    position: relative;
}
.style2 .apaw-pricing-meta:before, .apaw-pricing-meta:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.style2 .apaw-pricing-meta:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}

.style3 .apaw-pricing-inner {
    overflow: hidden;
    position: relative;
}
.style3 .apaw-pricing-inner .apaw-pricing-holder {
    padding: 0;
}
.style3 h3.apaw-pricing-title {
    background-color: #000000;
    color: #fff;
    padding: 10px 26px;
	margin: 0;
	padding-top: 40px;
    position: relative;
    z-index: 1;
}
.style3 .apaw-pricing-inner .apaw-pricing-meta {
    padding: 40px 30px;
    margin-top: 10px;
}

.style3 .apaw-pricing-inner .apaw-pricing-desc {
    padding: 23px 26px;
}
.style3 .apaw-pricing-inner .head_bg {
    border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000000;
    color: #fff;
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}
.recommendstyle2 {
    overflow: hidden;
    position: relative;
}
.recommendstyle2 .apaw-pricing-recommended {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgb(136 136 136 / 25%);
    background: #4dbe3b;
    transform: rotate(
45deg
);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 10px;
	z-index: 2;
}
.pricecircle {
    height: 110px;
    width: 110px;
    margin: 0 auto;
    font-size: 32px;
    border: solid 2px #d7d7d7;
    background: #fff;
    border-radius: 50%;
}
.pricecircle .apaw-pricing-price {
    display: block;
    margin-bottom: -25px;
    padding-top: 20px;
}
.pricecircle .apaw-pricing-time {
    color: #bdb7b7 !important;
    font-size: 13px !important;
}

.hoverzoom .apaw-pricing-inner {
    transition: all 0.3s ease-in-out;
}
.hoverzoom .apaw-pricing-inner:hover {
    transform: scale(1.1) translate3d(0, 0, 0);
}